{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <time datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="post-date">posted {{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  {{ if .Params.series -}}
  <span class="post-info">as part of the <a href="/series/{{ lower .Params.series }}">{{ lower .Params.series }}</a> series</span>
  {{- end }}
  {{ if .Params.author -}}<span class="post-info">by {{ range $i, $e := .Params.author }}{{ if $i }}, {{ end }}{{ $a := lower $e }}<a href="/author/{{ replace $a " " "-"  }}">{{ lower $a }}</a>{{ end }}</span>{{ else }}{{- end }}

  {{ if .Params.tags -}}
    <div class="post-tags">
      {{ range .Params.tags }}
        <a href="/tags/{{ lower . }}">{{ . }}</a>
      {{ end }}
    </div>
  {{- end }}
  {{ .Content }}
</div>
{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<h2>See Also</h2>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}
<ins class="adsbygoogle"
style="display:block"
data-ad-client="ca-pub-1154639188214641"
data-ad-slot="1432210987"
data-ad-format="horizontal"
data-full-width-responsive="true"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ if .Site.Params.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}
